<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ankietomat</title>

    <link rel="stylesheet" href="<%=siteUrl%>/css/style.css" type="text/css">

</head>

<body class="container">

<header>

  <div class="mainContent">

    <div>

      <div id= title><img src="<%=siteUrl%>/img/default.png" alt="logo" id="imageLogo" /></div>

      <div class="navigation">

          <ul>

              <li><a href="/">Strona Główna</a></li>

              <%if (isLogged == false) { %>
                  <li><a href="<%=siteUrl%>/login">Logowanie</a></li>
                  <li><a href="<%=siteUrl%>/register">Rejestracja</a></li>
              <% } else { %>
                  <li><a href="<%=siteUrl%>/survey">Ankiety</a></li>
                  <li><a href="<%=siteUrl%>/survey/stats">Statystyki</a></li>
                  <li><a href="<%=siteUrl%>/profile">Profil</a></li>
                  <li><a href="<%=siteUrl%>/logout">Wyloguj</a></li>
              <% } %>
          </ul>
      </div>

    </div>

  </div>

  <%if (flash) {%>
    <%if (flash.flashMessage) { %>
      <div class="flashMessage"><%-getMessages().flashMessage%></div>
    <% } %> 
  <% } %> 

</header>