<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Ankieta "<%=survey.title%>"</h1>

        <p><%=survey.descryption%></p>

        <form action="<%=siteUrl%>/survey/show/<%=survey.id%>" method="post">
        <% for(var i=0; i<questions.length; i++) {%>
            <label for="question_<%=questions[i]._id%>"><%=questions[i].question%><%=questions[i].required?'*':''%></label>

            <% if(questions[i].type == '5ffae2a70225760e3ed0da84') { %>
                <% for(var j=0; j<questions[i].default_answers.length; j++) {%>
                    <input 
                        id="question_<%=questions[i]._id%>_<%=j%>" 
                        type="radio" 
                        name="question_<%=questions[i]._id%>" 
                        value="<%=questions[i].default_answers[j]%>" 
                        <%=questions[i].required?'required':''%>
                    />
                    <label for="question_<%=questions[i]._id%>_<%=j%>"><%=questions[i].default_answers[j]%></label>
                <% } %>
            <% } else if(questions[i].type == '5ffae2cc0225760e3ed0da86') { %>
                <% for(var j=0; j<questions[i].default_answers.length; j++) {%>
                    <input 
                        id="question_<%=questions[i]._id%>_<%=j%>" 
                        type="checkbox" 
                        name="question_<%=questions[i]._id%>" 
                        value="<%=questions[i].default_answers[j]%>" 
                        <%=questions[i].required?'required':''%>
                    />
                    <label for="question_<%=questions[i]._id%>_<%=j%>"><%=questions[i].default_answers[j]%></label>
                <% } %>
            <% } else { %>
                <input 
                    id="question_<%=questions[i]._id%>" 
                    type="text" 
                    name="question_<%=questions[i]._id%>" 
                    placeholder="<%=questions[i].default_answers.join(' ')%>" 
                    <%=questions[i].required?'required':''%>
                />
            <% } %>
            <br /><br />
        <% } %>

            <input type="submit" value="Wyślij!">
        </form>
    </div>
</main>

<%- include('../templates/footer'); %>