<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Lista ankiet</h1>

        <a href="<%=siteUrl%>/survey/new">- Stwórz ankietę</a>
        <br /><br />

        <% for(var i=0; i<surveys.length; i++) {%>
            Ankieta: <%=surveys[i].title%> - <a href="<%=siteUrl%>/survey/questions/<%=surveys[i].id%>">Dodaj pytanie</a>
            <br />
            <ul>
            <% for(var j=0; j<surveys[i].questions.length; j++) {%>
                <li>
                    <a href="<%=siteUrl%>/survey/question/<%=surveys[i].questions[j].id%>">Pytanie: <%=surveys[i].questions[j].question%></a> 
                </li>
            <% } %>
            </ul>
         <% } %>
    </div>
</main>

<%- include('../templates/footer'); %>