<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>
            <%if (survey != null) { %>
                Edytuj ankietę "<%=survey.title%>"
            <% } else { %>
                Nowa ankieta
            <% } %>
        </h1>

        <div><%=errors%></div>
        <br />

        <form action="<%=siteUrl%>/survey/new" method="post">
            <% if(survey != null) { %>
            <input type="hidden" name="id" value="<%=survey._id%>" />
            <% } %>

            <label for="title">Tytuł: </label>
            <input id="title" type="text" name="title" value="<%=survey!=null?survey.title:''%>" maxlength="64" required>
            <br /><br />
            
            <label for="descryption">Opis: </label>
            <textarea name="descryption"><%=survey!=null?survey.descryption:''%></textarea>
            <br /><br />
            
			
			
            <input type="submit" value="OK">
        </form>
    </div>
</main>

<%- include('../templates/footer'); %>