<%- include('../templates/header'); %>

<main>
    <div class="ankieta jumbotron">
        <h1>Lista ankiet</h1>

        <a href="<%=siteUrl%>/survey/new">Stwórz ankietę</a>
        <br /><br />
		
        <% for(var i=0; i<surveys.length; i++) {%>
            
			<div class="survey">
			<table class="ankTable">
			<tr>
			<td align="center">
                <p class="surveyTitle">Ankieta "<%=surveys[i].title%>"</p>
                <br />
                <p class="surveyDesc"><%=surveys[i].descryption%></p>
                <br />
				</td><td align="center">
                <a href="<%=siteUrl%>/survey/show/<%=surveys[i].id%>">Odpowiedz na ankietę</a>
                <br />
                <a href="<%=siteUrl%>/survey/responses/<%=surveys[i].id%>">Wyniki</a>
                <br />
                <a href="<%=siteUrl%>/survey/edit/<%=surveys[i].id%>">Edytuj tytuł ankiety</a>
                <br />
                <a href="<%=siteUrl%>/survey/questions/<%=surveys[i].id%>">Dodaj pytanie</a>
                <br />
                <a href="<%=siteUrl%>/survey/delete/<%=surveys[i].id%>" onClick="return confirm('Czy na pewno usunąć ankietę <%=surveys[i].title%>?')">Usuń ankietę</a>
                <br />
				</td><td align="center">
                <ul class="osobnoPytania">
                <% if(surveys[i].questions) { %>
                    <% for(var j=0; j<surveys[i].questions.length; j++) {%>
                        <li>
                            Pytanie "<%=surveys[i].questions[j].question%>"
							<ul>
                            <li><a href="<%=siteUrl%>/survey/question/<%=surveys[i].questions[j].id%>" class="ikonki"><img src="<%=siteUrl%>/img/edycja.png" alt="Edytuj pytanie" id="editLogo"/></a> </li>
                            <li><a href="<%=siteUrl%>/survey/question/delete/<%=surveys[i].questions[j].id%>" onClick="return confirm('Czy na pewno usunąć pytanie <%=surveys[i].questions[j].question%>?')"><img src="<%=siteUrl%>/img/usun.png" alt="Usuń pytanie" id="usunLogo"/></a></li> 
							</ul>
						</li>
						<br>
                    <% } %>
                <% } %>
                </ul>
				</td>
			</tr>
			</table>
            </div>
         <% } %>
		 
    </div>
</main>

<%- include('../templates/footer'); %>