<%- include('../templates/header'); %>

<main>
    <div class="jumbotron">
        <h1>Wiadomości:</h1>
        <p><%= message %></p>
        <h1>Tabele:</h1>
        <p><%= collections %></p>
        <h1>Wybrana tabela:</h1>
        <p><%= collection %></p>
        <h1>Wiersze z tabeli:</h1>
        <p><%= rows %></p>
    </div>
</main>

<%- include('../templates/footer'); %>